.navbar-light .navbar-brand {
  color: var(--border-card);
  font-family: "Pacifico", cursive;
}
.recipes {
  background-color: var(--background-recipes);
}
.recipes > h2,
.quem-somos > h2,
.quem-somos h5 {
  font-family: "Pacifico", cursive;
  color: var(--border-card);
}
.recipes > p,
.quem-somos p {
  color: var(--text-card);
  font-weight: 400;
}
.quem-somos h5 {
  text-align: center;
}
.recipes figure {
  border-color: var(--border-card);
}
.card-img-top {
  height: 70vw;
  object-fit: cover;
}
.btn-recipes {
  width: 50%;
  color: var(--white);
  background-color: var(--border-card);
}
.img-round {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  border-radius: 50%;
  border: 2px inset var(--border-card);
}
.img-round > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recipes,
.quem-somos,
.quem-somos figcaption {
  margin-top: 20px;
}
figcaption p {
  text-align: center;
}
footer {
  background-color: var(--text-card);
  color: var(--white);
  text-align: center;
  height: 8vw;
  line-height: 8vw;
  font-size: 18px;
}
address {
  margin-bottom: 0;
}
address > a {
  color: inherit;
}

@media (min-width: 768px) {
  .card-img-top {
    height: 35vw;
    object-fit: cover;
  }
  .carousel-caption {
    font-family: "Pacifico", cursive;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  .carousel-caption > h5 {
    font-size: 40px;
  }
  #receitas > h2,
  #receitas > p,
  #quem-somos > h2,
  #quem-somos > p {
    text-align: center;
  }
  #quem-somos > .row {
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .card-img-top {
    height: 18vw;
    object-fit: cover;
  }
}
