.recipes {
  background-color: var(--background-recipes);
}
.recipes > h2 {
  font-family: "Pacifico", cursive;
  color: var(--border-card);
}
.recipes > p {
  color: var(--text-card);
  font-weight: 400;
}
.recipes figure {
  border-color: var(--border-card);
}
.card-img-top {
  height: 70vw;
  object-fit: cover;
}
.btn-recipes {
  width: 50%;
  color: var(--white);
  background-color: var(--border-card);
}
